# ignore files with .log extension
*.log

# ignore directories named node_modules
node_modules/

# ignore files named .DS_Store (macOS)
.DS_Store

# ignore files with .pyc extension (Python)
*.pyc

# ignore files with .class extension (Java)
*.class

# ignore files with .exe extension (Windows)
*.exe
*.o

# ig tmp
tmp.*

# ig known garbage

utf8
yt-dlp_linux

# ig PD
*.srt
*.srttx
*.mp3
*.mp4

master.zip
HighlightTranslator-master/

book_icon.ico
CambridgeTranslate.py
config_defult.json
config.json
GoogleTranslate.py
HighlightTranslator.py
image/
language.txt
LICENSE
log.txt
requirements.txt
speech_file/
tesseract/
tk.js
tk.py
TranslatecomTranslate.py
VirtualDesktopAccessor11.dll
VirtualDesktopAccessor.dll